version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: todo_mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: todo_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

volumes:
  mongo_data: